# Java/Gradle
.gradle/
build/
bin/

!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Local Spring profile
backend/src/main/resources/application-personal.properties

# Angular
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
dist/
.angular/

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.idea/
*.iws
*.iml
*.ipr
out/

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/