<div class="flex h-full min-h-0 flex-row items-center px-4 gap-4 border-2 border-mist-800">
  @if (parkingBrakeWarning()) {
    <app-icon>
      <svg icon lucideCircleParking class="size-24" color="#FF0000"/>
    </app-icon>
  }
  @if (checkEngineWarning()) {
    <app-icon>
      <svg icon lucideOctagonAlert class="size-24" color="#FF0000"/>
    </app-icon>
  }
  @if (motorStatusWarning()) {
    <app-icon>
      <svg icon lucideSmartphoneCharging class="size-24" color="#FF0000"/>
    </app-icon>
  }
  @if (batteryLowWarning()) {
    <app-icon>
      <svg icon lucideBatteryWarning class="rotate-270 size-24" color="#FF0000"/>
    </app-icon>
  }
</div>
