<div class="flex h-full min-h-0 flex-col gap-4 bg-mist-900 border-2 border-mist-800">
  <div class="flex basis-2/3 min-h-0 flex-row gap-4">
    <app-gauge class="h-full min-h-0" [name]="'kW'" [min]="-1000" [max]="1000" [value]="powerKw()"/>
    <app-gauge class="h-full min-h-0" [name]="'rpm'" [min]="0" [max]="800" [value]="motorRpm()"/>
  </div>
  <div class="flex basis-1/3 min-h-0 flex-row items-center gap-4">
    <div class="flex basis-2/3 min-h-0 flex-row justify-evenly gap-4">
      <app-gear [value]="gearRatio()"/>
      <app-battery [value]="batteryLevel()"/>
      <app-battery-temperature [value]="batteryTemperature()"/>
      <app-motor [value]="motorRpm()"/>
    </div>
    <div class="card flex h-full min-h-0 w-full basis-1/3 flex-col items-center justify-center p-4">
      <span class="pb-4">Motor Speed Setting</span>
      <app-slider [formControl]="motorSpeedControl" (commit)="onMotorSpeedCommit($event)"/>
    </div>
  </div>
</div>
